# Dependency directories
node_modules/

# VsCode
# .vscode/*
# !.vscode/launch.json

# Visual Studio
.vs

# Build directories
lib
dist
build
coverage

# Individual files
spec/test-report.html
spec/performance-test-report.html
playground/www/*.js
spec/performance-test-report.log.json

# Temp / Cache folders
temp
