@import "../../styles/common/colors.scss";

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: $darkFont;
  .modal-header-title {
    margin: 0;
  }
  .modal-header-close-btn {
    margin: 2px -22px 2px 0;
    i {
      color: $darkFont;
    }
  }
}

.modal-footer {
  background-color: inherit !important;
}
